Options -Indexes
Options +FollowSymlinks

RewriteEngine on
#RewriteRule ^wm/(.*)$ arion/wm/index.php?uri=$1 [NC]
RewriteRule ^wm/(.*)$ arion/wm/index.php [NC]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?uri=$1 [NC]
RewriteRule ^(.*)$ index.php [NC]

<Files *.yml>
#Order allow,deny
Deny from all
</Files>

<Files mason>
Deny from all
</Files>

AddHandler application/x-httpd-php .tpl
#AddHandler application/x-httpd-php .js
#AddHandler application/x-httpd-php .css
AddType text/html .tpl